@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght@200..900&display=swap');

:root{
    --color-primario: #ff6912;
    --color-secundario: #eeff00;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: "Reddit Sans Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
header{
    background-color: var(--color-primario);
    text-align: center;
    /*padding: 10px 0;*/
    padding-top: 10px;
    padding-bottom: 10px;
}
#menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
.opcion{
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
}
a{
    text-decoration: none;
    color: #ffffff;
}
#superior{
    background-image: url(../Imagenes/UAT-VICTORIA.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;    
}
.sobrepuesto{
    color: white;
    position:absolute;
    top: 50%;
    right: 40%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;    
}
#color{
   
    background-color: rgba(0, 0, 0, 0.157);
    background-size: cover;
    text-align: center;
    color: black;
}
.link{
    background-color: #ff6912;
    border: black;
    border-style: solid;
}
.lti{
    background-image: url(../Imagenes/lti.jpg);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    text-align: center;    
}
.fic{
    background-image: url(../Imagenes/fic.jpg);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    text-align: center;
}
.derecho{
    background-image: url(../Imagenes/derecho.jpg);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    text-align: center;
}




